:root {
    --logo-color:#000;
    --accent-color:#2196F3;
    --text-color:#212121;
    --addtext-color:#757575;
    --title-color:#FFF;
    --team-beckground:#F5F4FA;
    --footer-beckground:#2F303A;
    --footer-number:rgba(255, 255, 255, 0.60);


}

body {

    font-family: "Roboto";
   
   };

.header {
    background-color: var(--main-background);
}

.header-logo  {
color: var(--logo-color);
font-family: "Raleway";
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}


.logo-color  {
color: var(--accent-color);
font-family: "Raleway";
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.log-color   {
color: var(--accent-color);
color: #2196F3;
font-family: "Raleway";
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.head-logo {
color: var(--logo-color);
color: #FFF;
font-family: "Raleway";
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.nav-link {
 color: var(--text-color);  
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.nav-link:hover,  .nav-link:focus {
color: var(--accent-color);

}

.header-link {
color: var(--addtext-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.header-link:hover {
    color: var(--accent-color);
}
/* ==================== */







.hero {
background-color: var(--footer-beckground);

}

.hero-title {
    color: var(--title-color);
    text-align: center;
    font-size: 44px;
    font-style: normal; 
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}


.hero-btn {
 background-color: var(--accent-color);
color: var(--title-color);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.96px;

}
/* ========================== */
.decision,  .main-services {
    background-color: var(--main-background);
}

.decision-title {
color: var(--text-color);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.decision-text {
color: var(--addtext-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
/* ================================== */

   .services-title {
color: var(--text-color);
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
   }

/* ================================== */

.main-team {
    background-color: var(--team-beckground);
}

.team-title {
    color: var(--text-color);
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
}

.team-name {
    color: var(--text-color);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;
}

.team-text {
    color: var(--addtext-color);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.48px;
}
/* ================== */
    

.footer {
    background-color: var(--footer-beckground);
}

.address-link {
    color: var(--title-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.footer-link {
    color: var(--footer-number);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.portfolio-button {
color: var(--main-background);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; 
letter-spacing: 0.48px;
}


.cart-item {
color: var(--main-background);
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 1.08px;
}


.cart-text {
color: var(--addtext-color);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
letter-spacing: 0.48px;
}

