:root{
    --logo-color:#000;
    --accent-color:#2196F3;
    --text-color:#212121;
    --addtext-color:#757575;
    --title-color:#FFF;
    --team-beckground:#F5F4FA;
    --footer-beckground:#2F303A;
    --footer-number:rgba(255, 255, 255, 0.60);


}